@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&family=Nunito:wght@700;800;900&display=swap');
@import "tailwindcss";

@theme {
  --font-sans: "Nunito", ui-sans-serif, system-ui, sans-serif;
  --font-display: "Fredoka One", cursive;
}

:root {
  --green-border: #14532d;
}

* { box-sizing: border-box; margin: 0; padding: 0; }

/* src/index.css */
/* src/index.css */
body {
  min-height: 100vh;
  background-color: #f0f2f5; /* Cor de fundo neutra para o admin */
  font-family: 'Nunito', sans-serif;
  overflow-x: hidden;
  /* Removemos o display: flex daqui! */
}

/* Adicione essa regra para forçar o React a ocupar a tela inteira */
#root {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}